@use "/assets/settings.scss";

.input {
	all: unset;
	height: 4vh;
	text-align: center;
	border: solid 1px settings.$text;
	border-radius: 20px;
	padding-inline: 10px;
	font-size: 0.75rem;

	transition: all 0.1s ease;
	&:focus {
		border-color: settings.$text;
	}
}
